@"
# Dependencies
node_modules/
*/node_modules/

# Builds
build/
dist/

# Environment
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Misc
.DS_Store
.idea/
.vscode/
"@ | Out-File -Encoding utf8 .gitignore
